/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body dan layout */
body {
    font-family: 'Times New Roman', serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Animasi Header */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    background-color: #222;
    color: white;
    padding: 20px 0;
    text-align: center;
    animation: slideIn 1s ease-out;
}

header h1 {
    font-size: 3rem;
}

header p {
    font-size: 1.2rem;
    font-weight: 300;
}

/* Navigasi */
nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    background-color: #575757;
    transform: scale(1.1);
}

/* Kontainer utama */
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    margin-right: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.5s ease-out;
}

.sidebar h2 {
    color: #222;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    padding: 8px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.sidebar ul li a:hover {
    color: #0077cc;
}

/* Konten utama */
.main-content {
    flex-grow: 1;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.5s ease-out;
}

.main-content h2 {
    color: #222;
    margin-bottom: 20px;
}

.main-content p {
    margin-bottom: 15px;
}

.main-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 20px 0;
    transition: transform 0.3s ease;
}

.main-img:hover {
    transform: scale(1.05);
}

/* Footer */
.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Animasi fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Responsivitas */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        margin-right: 0;
        width: 100%;
    }

    .main-content {
        margin-top: 20px;
    }
}
